---
layout: default
class: home
css: ['pages/index.css']
comments: false
---

{% assign assets_base_url = site.url %}
<!-- 设置变量 assets_base_url 为站点 URL -->
{% if site.cdn.jsdelivr.enabled %}
{% assign assets_base_url = "https://cdn.jsdelivr.net/gh/" | append: site.repository | append: '@master' %}
{% endif %}
<!-- 如果启用了 CDN 加速，则将 assets_base_url 设置为 CDN URL -->
<section class="banner">
    <div class="collection-head">
      <div class="container">
        <div class="columns">
          <div class="column two-thirds">
            <div class="collection-title">
              <h1 class="collection-header" id="sub-title"><span>{{ site.subtitle }}</span></h1>
              <div class="collection-info">
                <span class="meta-info mobile-hidden">
                  <span class="octicon octicon-location"></span>
                  {{ site.location }}
                </span>
                <!-- 如果在移动设备上隐藏，则显示网站位置信息 -->
                {% if site.organization %}
                <span class="meta-info">
                  <span class="octicon octicon-organization"></span>
                  <a href="{{ site.organization_url }}" target="_blank">{{ site.organization }}</a>
                </span>
                {% endif %}
                <!-- 如果有组织信息，则显示组织信息 -->
                <span class="meta-info">
                  <span class="octicon octicon-mark-github"></span>
                  <a href="https://github.com/{{ site.github_username }}" target="_blank">{{ site.github_username }}</a>
                </span>
                <!-- 显示 GitHub 用户名 -->
              </div>
            </div>
          </div>
          <div class="column one-third mobile-hidden">
            <div class="collection-title">
              {% include sidebar-qrcode.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- /.banner -->
<!-- 网站横幅 -->
<section class="container content">
    <div class="columns">
        <div class="column two-thirds" >
            <ol class="repo-list">
              {% for post in site.posts %}
              {% if paginator.page == 1 %}
              {% if post.topmost == true %}
              <li class="repo-list-item">
                <h3 class="repo-list-name">
                  <a href="{{ site.url }}{{ post.url }}"><span class="top-most-flag">[置顶]</span>{{ post.title }}</a>
                </h3>
                <p class="repo-list-description">
                {{ post.excerpt | strip_html | strip }}
                </p>
                <p class="repo-list-meta">
                <span class="meta-info">
                  <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d" }}
                </span>
                {% for cat in post.categories %}
                <span class="meta-info">
                  <span class="octicon octicon-file-directory"></span>
                  <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
                </span>
                {% endfor %}
                </p>
              </li>
              {% endif %}
              {% endif %}
              {% endfor %}
              <!-- 循环遍历文章列表，并根据条件判断是否置顶显示 -->

              {% for post in paginator.posts %}
              {% if post.topmost != true %}
              <li class="repo-list-item">
                <h3 class="repo-list-name">
                  <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                </h3>
                <p class="repo-list-description">
                {{ post.excerpt | strip_html | strip }}
                </p>
                <p class="repo-list-meta">
                <span class="meta-info">
                  <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d" }}
                </span>
                {% for cat in post.categories %}
                <span class="meta-info">
                  <span class="octicon octicon-file-directory"></span>
                  <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
                </span>
                {% endfor %}
                </p>
              </li>
              {% endif %}
              {% endfor %}
              <!-- 循环遍历文章列表，排除置顶文章，显示其余文章信息 -->
            </ol>
        </div>
        <div class="column one-third">
            {% include sidebar-search.html %}
            {% include sidebar-categories-cloud.html %}
            {% include sidebar-ad.html %}
            {% include sidebar-popular-repo.html %}
        </div>
    </div>
    <div class="pagination text-align">
      <div class="btn-group">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
              <a href="{{ site.url }}/" class="btn btn-outline">&laquo;</a>
          {% else %}
              <a href="{{ site.url }}/page{{paginator.previous_page}}"  class="btn btn-outline">&laquo;</a>
          {% endif %}
        {% else %}
            <button disabled="disabled" href="javascript:;" class="btn btn-outline">&laquo;</button>
        {% endif %}
        <!-- 如果有上一页，则显示上一页按钮，否则显示禁用的上一页按钮 -->

        {% if paginator.page == 1 %}
            <a href="javascript:;" class="active btn btn-outline">1</a>
        {% else %}
            <a href="{{ site.url }}/"  class="btn btn-outline">1</a>
        {% endif %}
        <!-- 如果当前页为第一页，则显示激活的第一页按钮，否则显示第一页按钮 -->

        {% assign aroundSize = 2 %}
        {% assign midStartPage = paginator.page | minus: aroundSize %}
        {% if 2 > midStartPage %}
            {% assign midStartPage = 2 %}
        {% endif %}
        {% assign midEndPage = paginator.page | plus: aroundSize %}
        {% if midEndPage >= paginator.total_pages %}
            {% assign midEndPage = paginator.total_pages | minus:1 %}
        {% endif %}
        {% assign tmpPage = aroundSize | plus: 2 %}
        {% if paginator.page > tmpPage %}
          <button disabled="disabled" href="javascript:;" class="btn btn-outline">...</button>
        {% endif %}
        <!-- 计算并显示中间页码，超出部分用省略号替代 -->

        {% for count in (midStartPage..midEndPage) %}
          {% if count == paginator.page %}
            <a href="javascript:void(0);" class="active btn btn-outline">{{count}}</a>
          {% else %}
            <a href="{{ site.url }}/page{{count}}"  class="btn btn-outline">{{count}}</a>
          {% endif %}
        {% endfor %}
        <!-- 循环显示中间页码 -->

        {% assign tmpPage = paginator.page | plus: aroundSize | plus: 1 %}
        {% if paginator.total_pages > tmpPage %}
          <button disabled="disabled" href="javascript:;" class="btn btn-outline">...</button>
        {% endif %}
        <!-- 如果还有更多页码未显示，则显示省略号 -->

        {% if paginator.total_pages > 1 %}
          {% if paginator.page == paginator.total_pages %}
              <a href="javascript:void(0);" class="active btn btn-outline">{{paginator.total_pages}}</a>
          {% else %}
              <a href="{{ site.url }}/page{{paginator.total_pages}}"  class="btn btn-outline">{{paginator.total_pages}}</a>
          {% endif %}
        {% endif %}
        <!-- 如果有多页，则显示最后一页按钮 -->

        {% if paginator.next_page %}
            <a href="{{ site.url }}/page{{paginator.next_page}}"  class="btn btn-outline">&raquo;</a>
        {% else %}
            <button disabled="disabled" href="javascript:;" class="btn btn-outline">&raquo;</button>
        {% endif %}
        <!-- 如果有下一页，则显示下一页按钮，否则显示禁用的下一页按钮 -->
        </div>
    </div>
    <!-- 分页 -->
    <!-- /pagination -->
</section>
<!-- /section.content -->
<!-- 内容 -->